<h2> Bulk Discount Show Page </h2>

Percentage discount: <%= @bulk_discount.percentage_discount %>, Quantity threshold: <%= @bulk_discount.quantity_threshold %>
<p><%= link_to "Edit discount",  edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %></p>